// Color
$black: #0F0E0E;
$black1: #48494B;
$black2: #000;
$black3: #333333;
$black4: #13181c;
$pink: #FF3366;
$pink1: #C74970;
$red: #EA3465;
$red1: #F61004;
$purple: #994DB1;
$blue: #2590ED;
$blue_bold: #0D30C3;
$blue1: #2568EF;
$blue2: #2B44FF;
$blue3: #4267B2;
$blue4: #1DA1F2;
$blue5: #336699;
$white: #FFF;
$white1: #FFFBB3;
$orange: #ED7E4F;
$bg_blue: #4545E8;
$grey: #e0dede;
$grey1: #F5F5F5;
$grey2: #909090;
$grey3: #9F9F9F;
$grey4: #f7f7f7;
// text
$textUpperCase: uppercase