.footer {
    background-color: $black4;
    &-sidebar {
        padding-top: 80px;
        padding-bottom: 50px;
        border-bottom: 1px solid $grey2;
    }
    &-content {
        h5 {
            font-size: 18px;
            margin-bottom: 30px;
            color: $white;
        }
        p {
            font-size: 15px;
            color: $white;
            margin-bottom: 25px;
            line-height: 1.75;
        }
        a {
            font-size: 16px;
            color: $white;
            padding: 13px 30px;
            border-radius: 5px;
            transition: .3s ease;
            background-color: $blue1;
            display: inline-block;
        }
        a:hover {
            color: $white;
            background-color: $black1;
        }
    }
    &-menu {
        @include flex-around;
        &>li {
            color: $white;
            font-size: 18px;
        }
        ul {
            margin-top: 25px;
        }
        li a {
            color: rgba(255, 255, 255, 0.5);
            font-size: 15px;
            line-height: 2.4;
            transition: .3s ease all;
        }
        li a:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    &-subscribe {
        h5 {
            color: $white;
            font-size: 18px;
            margin-bottom: 30px;
        }
        .footer-box {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 30px;
            border-radius: 5px;
        }
        .footer-box p {
            color: $white;
            font-size: 15px;
            margin-bottom: 30px;
        }
        input {
            width: 100%;
            padding: 12px 20px;
            border-radius: 5px;
            font-size: 15px;
            margin-bottom: 20px;
        }
        input::placeholder {
            color: $grey2;
            font-size: 15px;
            font-weight: 300;
        }
        .btn {
            width: 100%;
            background: $blue1;
            border-radius: 5px;
            color: $white;
            font-size: 16px;
            padding: 12px 20px;
        }
    }
    &-wrapper {
        padding: 30px 0;
        @include flex-between;
        .footer-copyright p {
            color: $grey3;
            font-size: 15px;
        }
        .footer-copyright p a {
            color: $white;
            transition: .3s ease;
        }
        .footer-copyright p a:hover {
            color: $grey3;
        }
        .footer-social {
            display: flex;
        }
        .footer-social a {
            color: $white;
            font-size: 16px;
            padding: 10px;
            transition: .3s ease all;
        }
        .footer-social a:hover {
            color: $grey3;
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .footer-wrapper .footer-copyright p {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .footer-subscribe {
        margin-top: 25px;
    }
}

@media screen and (max-width: 320px) {
    .footer-sidebar .c-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-menu {
        margin-top: 25px;
        justify-content: space-between;
    }
}